body {
  background-image: url("../img/whitecarbonfiber.jpg");
  /*http://decalpitstop.com/wallpaper/1280x800/white%20carbon%20fiber.jpg */
  background-repeat: repeat; }

.jumbotron, footer {
  background: url("../img/blue-wood-background.jpg") repeat;
  font-family: 'Exo', sans-serif;
  color: white;
  -webkit-text-stroke-color: #7BAFD4;
  -webkit-text-fill-color: white;
  text-align: center;
  border-radius: 3px; }
  .jumbotron h1, footer h1 {
    -webkit-text-stroke-width: 3px; }
  .jumbotron h2, footer h2 {
    -webkit-text-stroke-width: 2px; }

.jumbotron {
  border: 8px inset #C0C0C0; }

footer {
  padding: 40px;
  border: 8px outset #C0C0C0;
  -webkit-text-stroke-width: 1px;
  font-size: 150%; }

#about {
  margin-left: 5%;
  margin-right: 5%; }
  #about ul {
    list-style-image: url("../img/computer.gif");
    /*http://2css.com/graphics/computer.gif*/
    vertical-align: bottom; }
  #about li {
    line-height: 100%; }

.navCol {
  display: inline-block;
  border-top: 4px solid #FFCD8D;
  border-bottom: 4px solid #FFCD8D;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
  background-color: #D3D3D3; }

.navCol:nth-child(1) {
  border-left: 4px solid #FFCD8D;
  border-right: 2px solid #FFCD8D; }

.navCol:nth-child(2) {
  border-left: 2px solid #FFCD8D;
  border-right: 2px solid #FFCD8D; }

.navCol:nth-child(3) {
  border-left: 2px solid #FFCD8D;
  border-right: 4px solid #FFCD8D; }

nav, #newPost {
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

#portfolio {
  margin-left: auto;
  margin-right: auto;
  text-align: center; }
  #portfolio img {
    border: 8px inset #C0C0C0; }
  #portfolio .row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
    text-align: center; }
  #portfolio .caption {
    margin-top: 1%; }

#portfolio h3, #portfolio h4, #blogList h3, #blogList h4 {
  font-family: 'Exo', sans-serif;
  font-size: 200%; }

#about h3, #about h4, #commentForm h3, #commentForm h4 {
  color: navy;
  font-family: 'Exo', sans-serif; }

#blogList, #commentForm {
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

.blogPost {
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 5%;
  padding-right: 5%;
  text-align: left;
  border: 1px solid navy;
  background-color: #ececec; }

#blogList, .blogPost {
  margin-bottom: 10px; }

nav a {
  font-family: 'Exo', sans-serif;
  font-size: 120%; }

textarea {
  min-width: 70%; }

.postTime, .postCategory {
  font-style: italic; }

#pageBar button {
  color: white;
  font-family: "Exo", sans-serif;
  background-color: navy;
  border: 2px solid #C0C0C0;
  border-radius: 5px; }

#listHeader, .postTitleAlone, #portfolioHeader {
  color: navy;
  font-family: 'Exo', sans-serif; }

.comment {
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3px;
  margin-top: 3px;
  margin-bottom: 3px;
  border: 1px solid #FFCD8D;
  background-color: #ececec; }

.commentContent {
  padding-left: 5%;
  padding-right: 5%; }

.commentMeta {
  background-color: navy;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3px;
  padding-bottom: 3px;
  color: white;
  border-radius: 5px; }

#listHeader, #noComments, #blogNav, #fourohfour {
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

#fourohfour {
  font-family: "Exo", sans-serif;
  font-size: 200%;
  color: navy; }
