body {
  background-image: url("../img/whitecarbonfiber.jpg");
  /*http://decalpitstop.com/wallpaper/1280x800/white%20carbon%20fiber.jpg */
  background-repeat: repeat; }

.jumbotron, footer {
  background: url("../img/blue-wood-background.jpg") repeat;
  font-family: 'Exo', sans-serif;
  color: white;
  -webkit-text-stroke-color: #7BAFD4;
  -webkit-text-fill-color: white;
  text-align: center;
  border-radius: 3px; }
  .jumbotron h1, footer h1 {
    -webkit-text-stroke-width: 3px; }
  .jumbotron h2, footer h2 {
    -webkit-text-stroke-width: 2px; }

.jumbotron {
  border: 8px inset #C0C0C0; }

footer {
  padding: 40px;
  border: 8px outset #C0C0C0;
  -webkit-text-stroke-width: 1px;
  font-size: 150%; }

#about {
  margin-left: 5%;
  margin-right: 5%; }
  #about ul {
    list-style-image: url("../img/computer.gif");
    /*http://2css.com/graphics/computer.gif*/
    vertical-align: bottom; }
  #about li {
    line-height: 100%; }

.navCol {
  display: inline-block;
  border-top: 4px solid #FFCD8D;
  border-bottom: 4px solid #FFCD8D;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
  background-color: #D3D3D3; }

.navCol:nth-child(1) {
  border-left: 4px solid #FFCD8D;
  border-right: 2px solid #FFCD8D; }

.navCol:nth-child(2) {
  border-left: 2px solid #FFCD8D;
  border-right: 2px solid #FFCD8D; }

.navCol:nth-child(3) {
  border-left: 2px solid #FFCD8D;
  border-right: 4px solid #FFCD8D; }

nav {
  margin-left: auto;
  margin-right: auto;
  text-align: center; }
