$nav_border: #FFCD8D;
$silver: #C0C0C0;
body{
background-image: url("../img/whitecarbonfiber.jpg"); /*http://decalpitstop.com/wallpaper/1280x800/white%20carbon%20fiber.jpg */
background-repeat: repeat;
}
.jumbotron, footer{
        background: url("../img/blue-wood-background.jpg") repeat;
        font-family: 'Exo', sans-serif;
        color:white;
        -webkit-text-stroke-color: #7BAFD4;
        h1{
        -webkit-text-stroke-width: 3px;
        }
        h2{
        -webkit-text-stroke-width: 2px;
        }
        -webkit-text-fill-color: white;
        text-align:center;
        border-radius:3px;
}
.jumbotron{
           border: 8px inset $silver; 
}
footer{
    padding:40px;
    border: 8px outset $silver;
   -webkit-text-stroke-width: 1px;
   font-size:150%;
}
#about{
    margin-left:5%;
    margin-right:5%;
    ul{
         list-style-image: url('../img/computer.gif'); /*http://2css.com/graphics/computer.gif*/
         vertical-align:bottom;
    }
    li{
        line-height:100%;
    }
}
.navCol{
    display:inline-block;
    border-top: 4px solid $nav_border;
    border-bottom: 4px solid $nav_border;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:20px;
    padding-right:20px;
    font-weight:bold;
    background-color:#D3D3D3;
}
.navCol:nth-child(1){
    border-left: 4px solid $nav_border;
    border-right: 2px solid $nav_border;;
}
.navCol:nth-child(2){
    border-left: 2px solid $nav_border;
    border-right: 2px solid $nav_border;;
}
.navCol:nth-child(3){
    border-left: 2px solid $nav_border;
    border-right: 4px solid $nav_border;;
}
nav, #newPost{
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}
#portfolio{
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    img{
        border: 8px inset $silver;
    }
    .row{
        margin-left:auto;
        margin-right:auto;
        margin-bottom:1%;
        text-align:center;
    }
    .caption{
        margin-top:1%;
    }
}
#portfolio, #blogList{
    h3, h4{
    font-family: 'Exo', sans-serif;
    font-size:200%;
    /*
    background: url("../img/blue-wood-background.jpg") repeat;
    color:white;
    padding-top:20px;
    padding-bottom:20px;
    max-width:30%;
    margin-left: auto;
    margin-right:auto;
    border-radius:15px;
    -webkit-text-stroke-color: #7BAFD4;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 2px;  */
    }
}
#about{
    h3, h4{
    font-family: 'Exo', sans-serif;
    }
}
#blogList{
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}
.blogPost{
    margin-left:5%;
    margin-right:5%;
    padding-left:5%;
    padding-right:5%;
    text-align:left;
    border: 1px solid $silver;
}
#blogList, .blogPost{
    margin-bottom:10px;
}
nav a{
     font-family: 'Exo', sans-serif;
     font-size:120%;
}
textarea{
    min-width:70%;
}
.postTime{
    font-style:italic;
}