$nav_border: #FFCD8D;
$silver: #C0C0C0;
$goalpost_gold: #FFD700;
$blog_gray: #ececec;
$nav_gray: #D3D3D3;
$verydark_gray: #262626;
$navy: #000066;

@mixin marginCentered(){
    margin-left:auto;
    margin-right:auto;
}
@mixin fullCentered(){
    @include marginCentered();
    text-align:center;
}

body{
background-image: url("../img/whitecarbonfiber.jpg"); /*http://decalpitstop.com/wallpaper/1280x800/white%20carbon%20fiber.jpg */
background-repeat: repeat;
}
.jumbotron{
        background: url("../img/blue-wood-background.jpg") repeat;
        font-family: 'Exo', sans-serif;
        color:white;
        h1{
            text-shadow: 3px 3px 1px #7BAFD4,
            -3px 3px 1px #7BAFD4,
            3px -3px 1px #7BAFD4,
            -3px -3px 1px #7BAFD4;
        }
        h2{
             text-shadow: 2px 2px 1px #7BAFD4,
             -2px 2px 1px #7BAFD4,
             2px -2px 1px #7BAFD4,
             -2px -2px 1px #7BAFD4;
        }
        text-align:center;
        border-radius:3px;
}
footer{
        font-size:200%;
        text-align:center;
        border-radius:3px;
        background: url("../img/blue-wood-background.jpg") repeat;
        font-family: 'Exo', sans-serif;
        color:white;
        padding:40px;
        border: 8px outset $silver;
       -webkit-text-stroke-width: 1px;
}
.jumbotron{
           border: 8px inset $silver; 
}
#portfolio{
    @media (max-width: 990px) {
    [class*="col-"] {
        width: 100%;
    }
    }
    @include fullCentered();
    img{
        border: 8px inset $silver;
        @include marginCentered();
    }
    .row{
        @include fullCentered();
        margin-bottom:1%;
    }
    .caption{
        margin-top:1%;
        text-align:center;
    }
}
@-moz-document url-prefix() { /*darker inset/outset borders in Firefox, which lightens them too much*/
    .jumbotron
    {
        border-bottom-color:$verydark_gray;
        border-right-color:$verydark_gray;
    }
    footer{
        border-top-color:$verydark_gray;
        border-left-color:$verydark_gray;     
    }
    #portfolio img{
        border-bottom-color:$verydark_gray;
        border-right-color:$verydark_gray;
    }
}

#currentNav{
    background-color:white;
}
#about{
    margin-left:5%;
    margin-right:5%;
    ul{
         list-style-image: url('../img/computer.gif'); /*http://2css.com/graphics/computer.gif*/
         vertical-align:bottom;
    }
    li{
        line-height:100%;
    }
}
.navCol{
    display:inline-block;
    border-top: 4px solid $nav_border;
    border-bottom: 4px solid $nav_border;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:20px;
    padding-right:20px;
    font-weight:bold;
    background-color:$nav_gray;
}
.navCol:nth-child(1){
    border-left: 4px solid $nav_border;
    border-right: 2px solid $nav_border;;
}
.navCol:nth-child(2){
    border-left: 2px solid $nav_border;
    border-right: 2px solid $nav_border;;
}
.navCol:nth-child(3){
    border-left: 2px solid $nav_border;
    border-right: 4px solid $nav_border;;
}

nav, #newPost, #blogList, #commentForm, #formAlert, #listHeader, #noComments, #blogNav, #fourohfour, #markdownNotice{
    @include fullCentered();
}
#portfolio, #blogList{
    h3, h4{
    font-family: 'Exo', sans-serif;
    font-size:200%;
    }
}
#about, #commentForm{
    h3, h4{
    color: $navy;
    font-family: 'Exo', sans-serif;
    }
}
.blogPost{
    margin-left:5%;
    margin-right:5%;
    padding-left:5%;
    padding-right:5%;
    text-align:left;
    border: 1px solid $navy;
    background-color:$blog_gray;
}
#blogList, .blogPost{
    margin-bottom:10px;
}
nav a{
     font-family: 'Exo', sans-serif;
     font-size:120%;
}
textarea{
    min-width:70%;
}
.postTime, .postCategory{
    font-style:italic;
}
button{
    color:white;
    font-family:"Exo", sans-serif;
    background-color:$navy;
    border:2px solid $silver;
}
nav button{
        height:100%;
}
#pageBar{ 
    max-width:70%;
    button{
    border-radius:5px;
    }
}
#listHeader, .postTitleAlone, #portfolioHeader{
    color: $navy;
    font-family: 'Exo', sans-serif;
}
.comment{
    margin-left:5%;
    margin-right:5%;
    padding-left:5%;
    padding-right:5%;
    padding-top:3px;
    margin-top:3px;
    margin-bottom:3px;
    border: 1px solid $nav_border;
    background-color:$blog_gray;
    img{
        max-width:99%;
    }
    td, th{
        border: 1px solid black;
        padding:2px;
    }
}
.commentContent{
    padding-left:5%;
    padding-right:5%;
}
.commentMeta, #formSuccess, #formError{
    background-color:$navy;
    padding-left:5%;
    padding-right:5%;
    padding-top:3px;
    padding-bottom:3px;
    color:white;
    border-radius:5px;
}
#formSuccess, #formError{
    max-width:75%;
    @include fullCentered();
    margin-top:10px;
    margin-bottom:10px;
}
#blogNav{
    label{
        line-height:30px;
    }
    margin-top:10px;
    margin-bottom:10px;
}
#fourohfour{
    font-family: "Exo", sans-serif;
    font-size:200%;
    color:$navy;
}
select{
    color:white;
    background-color:$navy;
}
#blogNav select{
    height:30px;
}
#blogNavButton{
    vertical-align:top;
    height:30px;
}
#blogNavInput{
    height:30px;
}
#nflViz{
        body{
    	background-color: #8B7E66;
    	font-family: verdana;
    }
    .card{
        @include marginCentered();
        padding-left:2%;
    	background-color: #2E8B57;
    	color: white;
    }
    .title{
    	text-align:center;
    	#top{
    	text-decoration:underline;
    	}
    	a{
        color:$goalpost_gold;
        }
    }
    rect{
      fill: #8B7E66;
      stroke:white;
    }
    #avgBar{
        fill:red;
    }
    .axis{
      fill:white;
    }
    .mouseover{
      fill:$goalpost_gold;
    }
    .chart .mouseover{
        fill: lime;
    }
    .tooltip{
         position: absolute;
         background-color: black;
         padding: 3px 5px 3px 5px;
         box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
         border-radius: 5px;
    }
    #infobox{
        text-align:center;
    }
    .logo{
        @include marginCentered();
        border-radius:3px;
    }
    #acknowledgements{
        background-color:$goalpost_gold;
        text-align: center;
        padding: 10px;
    }
    #chart{
     fill: url("./img/footballfield.png");   
    }
}